body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambiado de center a flex-start */
    background-image: url(fondo.jpg);
    background-size: 95%; 
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; /* Ajusta al contenido */
    background-color: #f4f4f4;
    padding-top: 20px; /* Añadido para evitar que el contenido toque el borde superior */
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80%;
    max-width: 600px;
}

h1 {
    text-align: center;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.option {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px;
    width: calc(33.33% - 20px); /* Para que quepan 3 opciones por fila */
    box-sizing: border-box; /* Asegura que el padding y el ancho se calculen correctamente */
    margin: 10px;
}

.option img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}


.option.selected {
    border-color: #4CAF50;
}

#total {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

#pse-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
}

#pse-button:hover {
    background-color: #45a049;
}
